<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_HScc7l_s6zm9PHxMB5qwmwsnm0AkQIM</string>
	<key>GCM_SENDER_ID</key>
	<string>399739685326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newfitnessapp</string>
	<key>PROJECT_ID</key>
	<string>fitness-app-f6766</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-app-f6766.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399739685326:ios:5c4411dd60404403cc439f</string>
</dict>
</plist>